
.my-card {
  margin-bottom: 20px;
}

.results,
.saved {
  margin-top: 50px;
}

.results p,
.saved p {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.prop-image {
}

.prop-button {
  display: none;
  float: right;
}
