
.my-card {
  margin-bottom: 20px;
  overflow: hidden;
}

.results,
.saved {
  margin-top: 50px;

}

.results p,
.saved p {
  font-weight: bold;
  font-size: 28px;
  text-align: center;
}

.card-button {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -40px;
  transition: all 200ms;
}

.prop-button {
  cursor: pointer;
}

.my-card:hover .card-button{
  bottom: 80px;
}
